body{
    margin: 0;
}

h1{
    position: relative;

}
image{
    position: relative;
    left: 50%;
}

.title{
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: #84725E;
    height: 100px;

}

.title>* {
    width: calc(100%/3 - 20px *2/3);
    text-align: center;

}

.menu {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0;
    justify-content: center;
    left: 50%;
}

.menu:hover > .menu-title{
    transition:
            0.2s border-top-width ease-in,
            0.3s border-top-color;
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
    transform: translateY(-0.25em);


}

.menu:not(:hover) > .menu-dropdown {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background: #dddddd;
    z-index: 99;
    transition:
            0.5s 0.1s height,
            0.5s 0.1s padding,
            0.5s 0.1s margin,
            0.3s color,
            0.6s visibility;
}

.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25,25,25,0);
    transition:
            0.5s 0.1s height,
            0.5s 0.1s padding,
            0.5s 0.1s margin,
            0.3s color,
            0.6s visibility;
    z-index: 99;
}

.menu-title {
    opacity: 1;
    display: block;
    width: 150px;
    height: 40px;
    padding: 12px 0 0;
    background: #7d8450;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}

.menu-dropdown {

    opacity: 1;
    min-width: 4px;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition:
            0.5s padding,
            0.5s background;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #282f28, #d0ef07);
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;

}

.menu-dropdown > * {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0,0,0,0);
    white-space: nowrap;
    transition:
            0.5s height cubic-bezier(.73,.32,.34,1.5),
            0.5s padding cubic-bezier(.73,.32,.34,1.5),
            0.5s margin cubic-bezier(.73,.32,.34,1.5),
            0.5s 0.2s color,
            0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0,0,0,0.1);
}

